/*	Default (light, no contrast prefs)	*/
@media (prefers-color-scheme: light)
{
	.themeMain { background-color : #ddd; color : #222; }
	.themeMain A { color : #3f9; }
	.themeContrast { background-color : #aaa; color : #000; }
}

/*	Dark, no contrast prefs	*/
@media (prefers-color-scheme: dark)
{
	.themeMain { background-color : #404040; color : #ccc; }
	.themeMain A { color : #3fd; }
	.themeContrast { background-color : #ccc; color : #000; }
	#weather_box	{ background-color:#ccc; margin: 7px 7px 0px 7px; padding: 7px; }
}

@media (prefers-contrast: more)
{
	/*	Light, high contrast	*/
	@media (prefers-color-scheme: light)
	{
		.themeMain { background-color : #fff; color : #000; }
		.themeMain A { color : #00f; text-decoration: underline !important; }
		.themeContrast { background-color : #fff; color : #000; }
		#weather_box	{ background-color:#fff; margin: 7px 7px 0px 7px; padding: 7px; filter: contrast(2);}
	}

	/*	Dark, high contrast	*/
	@media (prefers-color-scheme: dark)
	{
		.themeMain { background-color : #000; color : #fff; }
		.themeMain A { color : #77f; text-decoration: underline !important; }
		.themeContrast { background-color : #111; color : #000; }
		#weather_box	{ background-color:#fff; margin: 7px 7px 0px 7px; padding: 7px; filter: contrast(2) invert(1);}
	}
}